.detailLink {
    text-decoration: none;
    color: inherit;
    text-align: start;
    display: flex;
    justify-content: center;
}
.detailLink:hover{
    color: inherit;
}

.productInfoCard {
    width: 255px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productInfoCard:hover {
    transform: scale(1.1);
}

.productImg {
    border-radius: 20px;
    width: 255px;
    height: 255px;
}

.productInfo {
    margin: 0;
}
.productTitle {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.productSp {
    font-size: 14px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productPrice {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.productDiscount {
    font-size: 21px;
    font-weight: bold;
}

.productPriceBefore {
    font-size: 14px;
    color: #959595;
    margin-left: 10px;
    text-decoration: line-through;
    text-decoration-color: #959595;
}

@media (max-width: 1280px) {
    .productInfoCard {
        width: 180px;
    }
  
}
@media screen and  (max-width: 1024px) {
    .productInfoCard {
        width: 180px;
    }
}

@media screen and (max-width: 768px) {
    .productInfoCard {
        width: 200px;
    }
    .productTitle {
        font-size: 10px;
    }
    .productSp {
        font-size: 8px;
    }

    .productDiscount {
        font-size: 13px;
        font-weight: bold;
    }
    
    .productPriceBefore {
        font-size: 10px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 540px) {
    .productImg {
        width: 150px;
        height: 150px;
    }
    .productInfoCard {
        width: 150px; 
    }
}
