.quickCartBar {
    width: 100%;
    bottom: 0;
    background-color: whitesmoke;
    position: fixed;
    border-top: 3px solid blue;
    z-index: 999;
}

.quickOrderbutton, .quickCartbutton {
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btnQuickCart {
    background-color: blue;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 150px;
}


.quickCartContainer, .quickCartOff {
    max-height: 50px;
    transition: max-height 1s ease-in-out;
}

.quickCartOn, .quickCartOff {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quickCartOff {
    font-size: 20px;
    font-weight: bold;
    padding-left: 300px;
    color: #004393;
    justify-content: start;
}

.show {
    max-height: 500px;
}

.hidden {
    display: none;
}

.cartListContainer, .moveButton {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cartItemContainer, .checkboxContainer {
    position: relative;
}

.productList {
    list-style: none;
    margin-right: 2rem;
    display: flex;
}

.productList li {
    transform: scale(0.7);
    display: inline-block;
}

.quantityContainer {
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
}

.quantityButton, .customCheckbox + .checkboxLabel {
    cursor: pointer;
}

.quantityButton {
    margin: 0 0.2rem;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.quickOrderbutton:hover {
    background-color: #0056b3;
}

.quantityButton:hover, .quickCartbutton:hover {
    background-color: #e2e2e2;
}

.customCheckbox {
    opacity: 0;
}

.checkboxLabel {
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid black;
}

.customCheckbox:checked + .checkboxLabel {
    background-color: #2196F3;
}

.totalPriceContainer {
    margin: 7rem;
    color: #004393;
    font-weight: bold
}

.totalPriceTitle {
    font-size: 18px;
}

.totalPrice {
    font-size: 25px;
}

.quickOrderbutton {
    background-color: #007bff;
}

.quickCartbutton {
    background-color: #8a8c8f;
    margin-top: 0.5rem;
}

.quickCartbutton:hover {
    background-color: #696a6b;
}


@media (max-width: 780px) {
    .quickCartBar {
        display: none;
    }
}