/* 홈 컨테이너 스타일 */
.homeContainer {
  justify-content: center;
}

.productList {
  list-style: none;
  padding: 5rem 15rem 0 15rem;
  margin-right: 2rem;
}

.productList li {
  display: inline-block;
  margin-left: 2rem;
  margin-top: 2rem;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.carouselContainer {
  width: 100%;
  height: auto;
  display: block;

}

@media (max-width: 1450px) {
  .productList {
    padding: 5rem 0 0 0;
  }
}