.container {
    display: flex;
}

.imgContainer {
    width: 60%;
    position: relative;
}

.rcmdImg {
    width: 100%;
    height: 250px;
}

.rcmdTag {
    position: absolute;
    top: 0;
    width: 20%;
}
.rcmdInfo {
    padding: 2rem;
    font-size: 8px;
    text-align: start;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.beforeprice {
    font-size: 2em;
    color: #959595;
    text-decoration: line-through;
    margin: 0;
}

.afterprice {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}